<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/templates/static/ai_agent.png" />
		<style>
			body {
			}
			h1 {
				color: #333;
				margin-bottom: 0;
			}
			h2 {
				color: #555;
				margin-bottom: 0;
			}
			section {
				margin-bottom: 20px;
			}
			#loginForm {
				display: none;
				position: relative;
			}
			#userInfo {
				display: none;
			}
			.layout {
				display: flex;
				flex-direction: column;
				flex: 1 1 auto;
				justify-content: space-between;
				font-family: Arial, sans-serif;
				margin: 1em;
				border: 0.1em solid #ccc;
				border-radius: 0.5em;
				padding: 0 0.5em 1em 1.5em;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
			}
			input {
				padding: 0.4em;
				border: 1px solid #ccc;
				border-radius: 4px;
				margin-bottom: 1em;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
				margin-top: 0.5em;
			}
			label.required::after {
				content: ' *';
				color: red;
			}
			.delete_button {
				background-color: #e53935;
				color: white;
				border: none;
				padding: 0.4em 0.8em;
				/* margin-left: 0.5em; */
				border-radius: 4px;
				cursor: pointer;
				font-weight: bold;
				transition: background-color 0.2s ease;
			}

			.delete_button:hover {
				background-color: #c62828;
			}
			button {
				padding: 0.5em 1em;
				background-color: #007bff;
				color: white;
				border: none;
				border-radius: 0.3em;
				cursor: pointer;
				margin-top: 0.5em;
				cursor: pointer;
				text-decoration: none;
			}
			button:hover {
				background-color: #0056b3;
			}
			.register_link {
				padding: 0.5em;
				background-color: #007bff;
				color: white;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				font-size: 1em;
				width: fit-content;
				text-decoration: none;
				margin-top: 1em;
			}
			.register_link:hover {
				background-color: white;
				color: #0056b3;
				border: 1px solid #0056b3;
				padding: 0.4em;
			}
			.meetup {
				display: flex;
				justify-content: space-between;
				margin-bottom: 1em;
				border: 1px solid #d7c4c4;
				padding: 0.75em 0.5em 0.75em 1em;
				border-radius: 4px;
			}
		</style>
		<title>Meetup App</title>
		<script defer>
			let CURRENT_USER = null;
			let CURRENT_MEETUP = null;

			async function checkSession() {
				try {
					const response = await fetch('/me');

					if (!response.ok) {
						throw new Error('No authenticated user');
					}

					const user = await response.json();
					CURRENT_USER = user;

					// Update UI based on user data
					if (Object.keys(user).length === 0) {
						// Empty user object – show login
						document.getElementById('loginForm').style.display = 'block';
						document.getElementById('userInfo').style.display = 'none';
					} else {
						// Populate user info
						document.getElementById('loginForm').style.display = 'none';
						document.getElementById('username').textContent = user.username;
						document.getElementById('userEmail').textContent = user.email;
						document.getElementById('firstName').textContent = user.firstName;
						document.getElementById('lastName').textContent = user.lastName;
						document.getElementById('userInfo').style.display = 'block';
						document.getElementById('logout_btn').style.display = 'block';

					}
				} catch (error) {
					console.warn(error.message);
					document.getElementById('loginForm').style.display = 'block';
					document.getElementById('userInfo').style.display = 'none';
				}
			}
		</script>
	</head>
	<body class="layout">
		<h1 style="margin: 0.6em">Welcome to Meetup App</h1>

		<section class="layout">
			{{ template "login" . }}
		</section>

		<section class="layout">
			<div
				style="
					display: flex;
					justify-content: space-between;
					align-items: center;
				"
			>
				<h2 style="margin: 0.5em 0">Meetups</h2>
				{{ template "create_meetup_modal" . }}
			</div>
			<ol id="meetups">
				{{ template "meetups" . }}
			</ol>
		</section>

		<section class="layout">
			<h2>Coworkers</h2>
			<ol style="margin: 0" id="users"></ol>
		</section>
	</body>
</html>
